<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">Performance Analytics for Solaris</a>
  </div>

  <div class="collapse navbar-collapse" id="nav-toggle">
    <ul class="nav navbar-nav">
      <!--<li class="dropdown">
        <a id="host-selected"
           href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">{{ selectedHostName }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="host in vm.hosts | orderBy: 'name' " ng-click="hostSelected(host)">
            <a href="#">{{host.name}}</a>
          </li>
        </ul>
      </li>-->
      <li class="navbar-form">
        <!-- ng-model-options="{ getterSetter: true }" -->
        <input id="host-selected" type="text" ng-model="Host" placeholder="Select Hostname"
               typeahead-on-select="hostSelected($item)"
               uib-typeahead="host as host.name for host in vm.hosts | filter:{name:$viewValue} | limitTo:8"
               class="form-control">
      </li>
      <li class="navbar-text">TimeZone</li>
      <li id="host_time_zone" class="navbar-text">{{ selectedHostTimeZone }}</li>
      <li id="host_date" class="navbar-form" style="display:inline-block" ng-controller="DatepickerDemoController">
        <p class="input-group">
          <input type="text" uib-datepicker-popup ng-model="dt" class="form-control"
                 is-open="popup.opened" datepicker-options="dateOptions" ng-required="true"
                 close-text="Close" ng-click="dateChanged()"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open()">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
        </p>
      </li>
      <li class="navbar-text">PA Server</li>
      <li class="navbar-form navbar-right">
        <input id="pa-server" class="form-control"
               ng-model="PAServer"
               ng-model-options="{ updateOn: 'blur' }"
               type="text" placeholder="Enter PA Server" size="32"/>
      </li>
    </ul>
  </div>

</nav>