<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-subsystems">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Performance Subsystems</a>
  </div>

  <div class="collapse navbar-collapse" id="nav-subsystems">
    <ul class="nav navbar-nav">
      <li class="disabled" ng-repeat="subsystem in vm.subsystems">
        <a href="#">{{subsystem.name}}</a>
      </li>
    </ul>
  </div>
</nav>



<!--<ul class="nav navbar-nav">-->
  <!--<li ng-repeat="subsystem in subsystemsCtrl.subsystems">-->
    <!--<a href="#" class="btn btn-primary btn-lg disabled" role="button">-->
      <!--{{subsystem.name}}-->
    <!--</a>-->
  <!--</li>-->

<!--</ul>-->
