<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Performance Analytics Host Administration</title>
<!--
    <link rel="stylesheet"
          href="/static/css/admin_hosts.css" type="text/css"
          media="screen" title="no title" charset="utf-8">
-->
  <link rel="stylesheet"
        href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th class="col-lg-1">Host ID</th>
        <th class="col-lg-2">Hostname</th>
        <th class="col-lg-1">Time Zone</th>
        <th class="col-lg-1">Delete?</th>
      </tr>

      [% WHILE (host = hosts_rs.next) %]
      <tr>
        <td class="col-lg-1">[% host.host_id %]</td>
        <td class="col-lg-2">[% host.name %]</td>
        <td class="col-lg-1">[% host.time_zone %]</td>
        <td class="col-lg-1">
          <a 
             href="[%-
             c.uri_for(c.controller('admin').action_for('delete'), [ host.host_id ]) %]"
             class="btn btn-default">Delete
          </a>
        </td>
      </tr>
      [% END %]
    </table>
  </div>

</body>
</html>
