<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performance Analytics Host Administration</title>
</head>
<body>

  <table>
    <tr><th>Host ID</th><th>Hostname</th><th>Time Zone</th></tr>

    [% WHILE (host = hosts_rs.next) %]
    <tr>
      <td>[% host.host_id %]</td>
      <td>[% host.name %]</td>
      <td>[% host.time_zone %]</td>
    </tr>
    [% END %]
  </table>

</body>
</html>
